@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        margin-left: 2%;
    }
}

@media only screen and (max-width: 1024px) {
    .logo {
        padding: 0 2%;
    }
    .section-cities {
        font-size: 16px;
    }
    .cities-feature i {
        margin-right: 2%;
    }
    .signup-parts {
        height: 350px;
    }
    .signup-parts div ul i {
        font-size: 16px;
    }
    .signup-parts a {
        margin-right: 5px;
        font-size: 16px;
        padding: 0px;
    }
    .contact-form {
        font-size: 15px;
    }
    .footer-nav i {
        font-size: 16px;
        margin-right: 3px;
    }
}

@media only screen and (max-width: 767px) {
    .main-nav i {
        font-size: 12px;
        margin-left: 10px;
    }
    .signup-parts {
        width: 80%;
        height: auto;
        margin-left: 10%;
        align-content: inherit;
    }
    .signup-parts div ul i {
        font-size: 25px;
    }
    .signup-parts a {
        margin-left: 38%;
    }
    .meal-price-month,
    .meal-price {
        text-align: center;
    }
    .Secton-Featuers div {
        margin-left: 20px;
    }
    .long-copy {
        font-size: 16px;
    }
    .icon-big {
        font-size: 50px;
    }
    .plan-box h3 {
        font-size: 18px;
    }
    .Secton-Featuers .box {
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
    .section-cities .box {
        width: 100%;
    }
    .cities-feature {
        margin-left: 33%;
        font-size: 25px;
    }
    h1 {
        font-size: 190%;
    }
    cite {
        font-size: 13px;
        font-weight: 600;
    }
    .step-box div p {
        font-size: 16px;
    }
    .btn-app {
        margin-top: 10%;
        height: 35px;
        width: auto;
        padding: 0;
        margin-right: 0;
    }
    .contact-form {
        font-size: 14px;
        font-weight: 600;
    }
    select,
    textarea,
    input {
        margin-left: 30px;
    }
    label {
        margin-left: 0;
        font-weight: 500;
    }
    .section-cities img {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .signup-parts a {
        margin-left: 30%;
    }
    .cities-feature {
        margin-left: 25%;
        font-size: 25px;
    }
}